.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
  float: left;
}
.square:focus{
  outline: none;
}


.Game_Board{
  float: left;
  padding-right: 100px;
}

.Game_Container{
  float: left;
}

.boutons{
  width: 250px;
}